#
# HTCondor configuration for an additional Schedd
#
# by Dario Berzano <dario.berzano@cern.ch>
#
# This config_condor.local configures this HTCondor instance as Schedd: it is
# possible to submit jobs from there.
#
# Password authentication and encryption are enabled by default for
# communications between daemons.
#
# To avoid ports proliferation, a single port (9618, normally reserved to the
# collector) is exposed thanks to the Shared Port daemon.
#
# Firewall settings: only port 9618/tcp open.
#
# See this[1] document for setting up large Condor pools.
# [1] http://research.cs.wisc.edu/htcondor/CondorWeek2007/large_condor_pools.html
#

# List of active daemons
DAEMON_LIST = MASTER, SCHEDD

# This variable must point to the Central Manager: use FQDN!
CONDOR_HOST = <CONDOR_HEAD_FQDN>

# Note: we cannot use CCB on an additional Schedd. CCB cannot bridge two private
# networks.
#CCB_ADDRESS =
#PRIVATE_NETWORK_NAME =
