#
# HTCondor configuration for a central node
#
# by Dario Berzano <dario.berzano@cern.ch>
#
# This config_condor.local configures this HTCondor instance as Collector and
# Negotiator. It also has a Schedd, and it is possible to submit jobs from
# there.
#
# Password authentication and encryption are enabled by default for
# communications between daemons.
#
# To avoid ports proliferation, a single port (9618, normally reserved to the
# collector) is exposed thanks to the Shared Port daemon.
#
# Firewall settings: only port 9618/tcp open.
#
# See this[1] document for setting up large Condor pools.
# [1] http://research.cs.wisc.edu/htcondor/CondorWeek2007/large_condor_pools.html
#

# List of active daemons
DAEMON_LIST = MASTER, COLLECTOR, NEGOTIATOR, SCHEDD

# This host. Assumes FULL_HOSTNAME (automatic) is available (FQDN must exist)
CONDOR_HOST = $(FULL_HOSTNAME)
