#
# HTCondor configuration for an execute node
#
# by Dario Berzano <dario.berzano@cern.ch>
#
# This config_condor.local configures this HTCondor instance as Startd: this
# node is running jobs.
#
# Password authentication and encryption are enabled by default for
# communications between daemons.
#
# This configuration uses the Condor Connection Broker (CCB): this node can be
# behind a firewall and it does not need to accept connections. Instead, it
# connects to the Central Collector acting as Connection Broker.
#
# Firewall settings: no ports open.
#
# See this[1] document for setting up large Condor pools.
# [1] http://research.cs.wisc.edu/htcondor/CondorWeek2007/large_condor_pools.html
#

# List of active daemons
DAEMON_LIST = MASTER, STARTD

# This variable must point to the Central Manager: use FQDN!
CONDOR_HOST = alitestcaf-ebd32908-cbab-4277-9352-706aa2f5fe6c.cern.ch

# Use CCB, with the given Private Network Name
CCB_ADDRESS = $(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = Condor-Executors

# When is this machine willing to start a job? (Used by Startd)
START = TRUE

# Never suspend a job (used by Startd)
SUSPEND = FALSE

# Job preemption is disabled (used by Startd)
PREEMPT = FALSE

# Kill instead of preempt (used by Startd)
KILL = FALSE

# Number of job slots. If omitted, count CPUs
#NUM_CPUS = 3
