#
# Common HTCondor configuration for a central node, schedd and worker.
#
# by Dario Berzano <dario.berzano@cern.ch>
#
# See this[1] document for setting up large Condor pools.
# [1] http://research.cs.wisc.edu/htcondor/CondorWeek2007/large_condor_pools.html
#

# Note: $(CONDOR_HOST) and $(DAEMON_LIST) must be defined before

# Condor administrator
CONDOR_ADMIN = root@$(CONDOR_HOST)

# Trust User ID of submitting user, and preserve it. This assumes the full
# cluster shares the same User IDs
UID_DOMAIN = *
TRUST_UID_DOMAIN = TRUE
SOFT_UID_DOMAIN = TRUE

# User ID and Group ID of the "condor" user. Normally not needed
#CONDOR_IDS = 123.456

# Queue administrators (users that can, e.g., remove other people's jobs)
QUEUE_SUPER_USERS = root, condor

# Port range to use. Ports are randomly picked within this range
LOWPORT = 40000
HIGHPORT = 60000

# Use the Shared Port daemon, make it listen on 9618. Note: this takes the place
# of the Collector, so the Collector host must be moved (see COLLETOR_HOST)
SHARED_PORT_ARGS = -p 9618
DAEMON_LIST = $(DAEMON_LIST), SHARED_PORT
USE_SHARED_PORT = TRUE

# Connect to the Collector using the Shared Port daemon
COLLECTOR_HOST = $(CONDOR_HOST)?sock=collector

# Short description (truncated to 30 chars)
COLLECTOR_NAME = Condor at \$(CONDOR_HOST)
#   30 chars --> ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

# Authentication and encryptions:
#  * Daemons use authentication and encryption (Blowfish: faster than 3DES)
#  * Password is used
#  * Filesystem authentication is used locally (for condor_submit, condor_q...)
#  * Client encryption is disabled
#  * Password file is created with:
#      condor_store_cred add -c -p <YOUR_PREFERRED_PASSWORD>
#  * Password file must be readable only by root
#  * "Session" authentication (SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION) speeds
#    up communications between the Negotiator and the Startds
SEC_DAEMON_AUTHENTICATION                = REQUIRED
SEC_DAEMON_INTEGRITY                     = REQUIRED
SEC_DAEMON_ENCRYPTION                    = REQUIRED
SEC_DAEMON_ENCRYPTION_METHODS            = BLOWFISH
SEC_DAEMON_AUTHENTICATION_METHODS        = PASSWORD
SEC_CLIENT_AUTHENTICATION_METHODS        = PASSWORD,FS
SEC_PASSWORD_FILE                        = /etc/condor/condor_credential
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = TRUE

# Daemons allwed to connect
ALLOW_DAEMON = condor_pool@*, submit-side@matchsession

# Use TCP instead of UDP, and cache TCP sockets (more reliable on some WANs)
UPDATE_COLLECTOR_WITH_TCP = TRUE
COLLECTOR_SOCKET_CACHE_SIZE = 1000

# Pretend that all jobs have very low memory requests elsewhere HTCondor will
# attempt to set memory requirements automatically and AliEn pilots will start
# not matching any available resource
JOB_DEFAULT_REQUESTMEMORY = 42
