#
# Common HTCondor configuration for all nodes running a schedd (and a bit more).
#
# by Dario Berzano <dario.berzano@cern.ch>
#
# See this[1] document for setting up large Condor pools.
# [1] http://research.cs.wisc.edu/htcondor/CondorWeek2007/large_condor_pools.html
#

# Note: $(CONDOR_HOST) and $(DAEMON_LIST) must be defined before

# The collector must be capable of dealing with a great number of file
# descriptors, as it will accept many connections. Set this limit to a high
# number. Note that it is not needed to change this parameter via ulimit, the
# Condor Master will take care of setting everything accordingly
COLLECTOR_MAX_FILE_DESCRIPTORS = 1000000

# Turn off Condor history (must be done on any machine running Schedd). This
# improves performances on large setups
HISTORY =

# Disable preemption algorithms on the Negotiator. Do this if PREEMPT is off on
# every execute node. This improves performances on large setups
NEGOTIATOR_CONSIDER_PREEMPTION = FALSE

# This is for Schedd: start JOB_START_COUNT new jobs every JOB_START_DELAY
# seconds. Defaults are 1 job every 2 seconds
JOB_START_COUNT = 50
JOB_START_DELAY = 5

# Sets how often the Negotiator starts a negotiation cycle, in seconds. Default
# is 60
NEGOTIATOR_INTERVAL = 20
